a {
  color: green;
}

.inner {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.content {
  position: relative;
  left: 17%;
  width: 78%;
  right: 5%;
}/*# sourceMappingURL=Inner.css.map */