.expContainer .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
}
.expContainer .item .subItemL {
  max-width: 10%;
}
.expContainer .item .subItemL .title {
  font-weight: 900;
}
.expContainer .item .subItemR {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.expContainer .item .subItemR .title {
  font-weight: 900;
}/*# sourceMappingURL=Expertise.css.map */