.skills {
    width: 100%;
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    button{
        padding: 10px 20px;
    }
    .changerHolder{
        display: flex;
        justify-content: flex-end;
    }
    .skillsForm {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 0;
        padding: 20px;
        border: 2px solid $green-primary;
        border-radius: 4px;
        .inputArea {
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 10px 0;
            input {
                border: 2px solid grey;
                border-radius: 5px;
                padding: 7px;
                outline: none;
                margin-left: 15px;
            }
            input:focus {
                border: 2px solid #b9ded7;
            }
            .wrong{
                border: 2px solid red;
            }
            .wrong:focus{
                border: 2px solid red;
            }
            .error{
                font-size: 14px;
                color: red;
                margin-top: 5px;
            }
        }
        button {
            padding: 10px 20px;
            margin-top: 10px;
        }
        .btnDisabled, .btnDisabled:hover {
            background-color: #667080;
            color: #434952;
            cursor: no-drop;
        }
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        .skillsItem{
            margin: 5px 0;
            p{   
                padding: 7px 14px;
            }
            display: flex;
            background-color: $green-primary;
            color: white;
            justify-content: flex-start;
            font-family: sans-serif;
            font-size: 16px;
        }
    }
    .lowTitles {
        color: grey;
        p {
            width: 20%;
            text-align: start;
        }
        p:nth-child(1) {
            width: 30%;
        }
        p:nth-child(2) {
            padding-left: 2.5%;
        }
        p:nth-child(3) {
            text-align: end;
            padding-right: 3.5%;
        }
        p:nth-child(4) {
            text-align: end;
            width: 30%;
        }
    }
    .lowLines {
        margin-top: 10px;
        div {
            width: 33.333%;
            height: 8px;
        }
        div:nth-child(1) {
            border-bottom: 2px solid grey;
            border-left: 2px solid grey;
        }
        div:nth-child(2) {
            border: 2px solid grey;
            border-top: none;
        }
        div:nth-child(3) {
            border-bottom: 2px solid grey;
            border-right: 2px solid grey;
        }
    }
}

@media screen and (max-width: 800px) {
    .skills {
        .lowTitles {
            justify-content: space-between;
            p:nth-child(1) {
                width: 20%;
            }
            p:nth-child(2) {
                padding-left: 0;
                margin-right: 7px;
            }
            p:nth-child(3) {
                text-align: end;
                padding-right: 4%;
            }
            p:nth-child(4) {
                text-align: end;
                width: 20%;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .skills {
        .lowTitles {
            p:nth-child(2) {
                margin-left: 4%;
                margin-right: 0;
            }
            p:nth-child(3) {
                padding-right: 5%;
            }
        }
    }
}
