body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  color: #26C186;
  margin-bottom: 20px;
}

.main {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: url("./assets/images/background.png") no-repeat center center fixed;
  background-size: cover;
}

a {
  color: green;
}

.inner {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.content {
  margin-top: 50px;
  transition: all 0.3s;
  position: relative;
  left: 20%;
  width: 78%;
}

.wide {
  transform: translateX(-18%);
  width: 95%;
}

@media screen and (max-width: 600px) {
  .wide {
    transform: translateX(-15%);
    width: 85%;
  }
}
.box {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0 50px 0;
}

.btn {
  padding: 15px 30px;
  background-color: #222935;
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  transition: all 0.1s;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn p {
  margin: 0 5px;
}
.btn-panel {
  padding: 15px 30px;
  background-color: #222935;
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  transition: all 0.1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
}

.btn:hover {
  background-color: #26C186;
  cursor: pointer;
}

.btn-panel:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .shrink {
    padding: 5px 10px;
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .shrink {
    width: auto;
    padding: 10px 20px;
    margin: auto;
  }
  .shrink p {
    display: none;
  }
}
.expContainer .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
}
.expContainer .item .subItemL {
  max-width: 15%;
}
.expContainer .item .subItemL .title {
  color: #222935;
  font-weight: 900;
}
.expContainer .item .subItemL .date {
  color: #667081;
}
.expContainer .item .subItemR {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.expContainer .item .subItemR .title {
  color: #222935;
  font-weight: 900;
}

@media screen and (max-width: 900px) {
  .expContainer .item .subItemL {
    width: 30%;
  }
  .expContainer .item .subItemR {
    width: 70%;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav .item {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
  transition: all 0.1s;
  font-size: 16px;
  color: #667081;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 4%;
}
.nav .item .spaceholder {
  width: 20%;
}
.nav .active {
  color: #26C186;
}

.nav .item:hover {
  color: #26C186;
}

@media screen and (max-width: 600px) {
  .nav {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
  }
  .nav .item {
    justify-content: center;
  }
  .nav .item .text,
  .nav .item .spaceholder {
    display: none;
  }
}
.panel {
  position: fixed;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
  transition: all 0.3s;
}
.panel div {
  position: relative;
}

.panel-content {
  background-color: #222935;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.panel-content .photobox-holder {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 5%;
  padding-right: 5%;
}
.panel-content .back-btn-holder {
  display: flex;
  justify-content: center;
  width: 100%;
}

.disabled {
  transform: translateX(-85%);
}

.panel-close-btn {
  width: 15%;
}
.panel-close-btn .btn-panel {
  position: relative;
  top: 20px;
  left: -5px;
}

@media screen and (max-width: 800px) {
  .panel-content .back-btn-holder {
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .panel {
    width: 60px;
  }
}
.photobox {
  text-align: center;
  font-family: sans-serif;
}
.photobox .avatar {
  width: 100px;
  padding-bottom: 5px;
}
.photobox .name {
  font-size: 16px;
}

.home {
  color: white;
  margin-bottom: 20px;
  max-width: 40%;
}
.home .title {
  color: white;
}

@media screen and (max-width: 600px) {
  .photobox .avatar {
    width: 40px;
  }
  .photobox .name {
    display: none;
  }
}
.info {
  background-color: #eee;
  padding: 5px;
}

.feed-item {
  margin: 30px 0;
}
.feed-item .review-user-holder {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.feed-item .review-user-holder img {
  margin-right: 10px;
}
.feed-item .review-user-holder a {
  color: #26C186 !important;
}

.portfolio {
  margin: 50px 0;
}
.portfolio .controls {
  margin-bottom: 20px;
}
.portfolio .controls button {
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}
.portfolio .controls .active {
  color: #26C186;
}
.portfolio .container {
  display: flex;
  justify-content: flex-start;
  transition: all 0.2s;
}
.portfolio .container .item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  width: 250px;
  margin: 0 1.5%;
  height: 20vh;
}
.portfolio .container .item .content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  top: 110%;
  left: 0;
}
.portfolio .container .item .content .title {
  margin-bottom: 5px;
}
.portfolio .container .item .content .description {
  color: #222935;
}
.portfolio .container .item .content .link {
  font-family: sans-serif;
  text-decoration: underline;
  color: #26C186;
}
.portfolio .container .item .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio .container .item:hover .content {
  top: 0;
}

@media screen and (max-width: 900px) {
  .portfolio .container {
    flex-direction: column;
  }
  .portfolio .container .item {
    margin: 1.5% 0;
  }
}
.timeline {
  overflow: hidden;
  margin: 50px 0;
}
.timeline .dataHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.timeline .dataHolder .icon {
  color: #26C186;
}
.timeline .dataHolder .err {
  color: #FF1A17;
}
.timeline .item {
  display: flex;
  margin: 0;
  position: relative;
}
.timeline .item .date-holder {
  padding: 15px;
  display: flex;
  height: 16px;
  background-color: #fff;
}
.timeline .item .date-holder p {
  font-size: 16px;
}
.timeline .item:before {
  background-color: #26C186;
  width: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  content: "";
  margin-left: 32px;
  overflow: hidden;
  z-index: -1;
}
.timeline .item .info:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 56px;
  width: 0;
  height: 0;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-right: solid 10px #eee;
}

.contact {
  margin: 50px 0;
}
.contact .item {
  display: flex;
  margin: 20px 0;
}
.contact .item .icon-holder {
  margin-right: 20px;
}
.contact .item .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .item .description .title {
  color: #222935;
  font-weight: 900;
  margin: 0;
}
.contact .item .description .info {
  color: #667081;
}

.skills {
  width: 100%;
}
.skills div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skills button {
  padding: 10px 20px;
}
.skills .changerHolder {
  display: flex;
  justify-content: flex-end;
}
.skills .skillsForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0;
  padding: 20px;
  border: 2px solid #26C186;
  border-radius: 4px;
}
.skills .skillsForm .inputArea {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}
.skills .skillsForm .inputArea input {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 7px;
  outline: none;
  margin-left: 15px;
}
.skills .skillsForm .inputArea input:focus {
  border: 2px solid #b9ded7;
}
.skills .skillsForm .inputArea .wrong {
  border: 2px solid red;
}
.skills .skillsForm .inputArea .wrong:focus {
  border: 2px solid red;
}
.skills .skillsForm .inputArea .error {
  font-size: 14px;
  color: red;
  margin-top: 5px;
}
.skills .skillsForm button {
  padding: 10px 20px;
  margin-top: 10px;
}
.skills .skillsForm .btnDisabled, .skills .skillsForm .btnDisabled:hover {
  background-color: #667080;
  color: #434952;
  cursor: no-drop;
}
.skills .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.skills .container .skillsItem {
  margin: 5px 0;
  display: flex;
  background-color: #26C186;
  color: white;
  justify-content: flex-start;
  font-family: sans-serif;
  font-size: 16px;
}
.skills .container .skillsItem p {
  padding: 7px 14px;
}
.skills .lowTitles {
  color: grey;
}
.skills .lowTitles p {
  width: 20%;
  text-align: start;
}
.skills .lowTitles p:nth-child(1) {
  width: 30%;
}
.skills .lowTitles p:nth-child(2) {
  padding-left: 2.5%;
}
.skills .lowTitles p:nth-child(3) {
  text-align: end;
  padding-right: 3.5%;
}
.skills .lowTitles p:nth-child(4) {
  text-align: end;
  width: 30%;
}
.skills .lowLines {
  margin-top: 10px;
}
.skills .lowLines div {
  width: 33.333%;
  height: 8px;
}
.skills .lowLines div:nth-child(1) {
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
}
.skills .lowLines div:nth-child(2) {
  border: 2px solid grey;
  border-top: none;
}
.skills .lowLines div:nth-child(3) {
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
}

@media screen and (max-width: 800px) {
  .skills .lowTitles {
    justify-content: space-between;
  }
  .skills .lowTitles p:nth-child(1) {
    width: 20%;
  }
  .skills .lowTitles p:nth-child(2) {
    padding-left: 0;
    margin-right: 7px;
  }
  .skills .lowTitles p:nth-child(3) {
    text-align: end;
    padding-right: 4%;
  }
  .skills .lowTitles p:nth-child(4) {
    text-align: end;
    width: 20%;
  }
}
@media screen and (max-width: 800px) {
  .skills .lowTitles p:nth-child(2) {
    margin-left: 4%;
    margin-right: 0;
  }
  .skills .lowTitles p:nth-child(3) {
    padding-right: 5%;
  }
}/*# sourceMappingURL=App.css.map */