.main {
  color: red;
}

a {
  color: green;
}

.inner {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.content {
  position: relative;
  left: 17%;
  width: 83%;
}

.box {
  font-family: sans-serif;
}
.box .title {
  color: #26C186;
}
.btn {
  padding: 15px 30px;
  background-color: #222935;
  font-family: sans-serif;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  transition: all 0.1s;
  display: flex;
  flex-direction: row;
}
.btn p {
  margin: 0 5px;
}
.btn-panel {
  padding: 15px 30px;
  background-color: #222935;
  font-family: sans-serif;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  transition: all 0.1s;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
}

.btn:hover {
  background-color: #26C186;
  cursor: pointer;
}

.btn-panel:hover {
  cursor: pointer;
}

.expContainer .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
}
.expContainer .item .subItemL {
  max-width: 10%;
}
.expContainer .item .subItemL .title {
  font-weight: 900;
}
.expContainer .item .subItemR {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.expContainer .item .subItemR .title {
  font-weight: 900;
}

.panel {
  background-color: #222935;
  position: fixed;
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: red;
}

.panelCloseBtn {
  width: auto;
}/*# sourceMappingURL=StyleImports.css.map */